@use '../utils/mixins' as m;
@use '../utils/variables' as v;

%basic-button-sizing {
    border-radius: 0.5em;
    padding: 0.7em;
    display: flex;
    align-items: center;
    z-index: 1;
}

%general-button {
    width: fit-content;
}

%iconed-button {
    @include m.padding-left-right(1em, 1.5em);
    gap: 1em;
}

%black-bg-general-button {
    background-color: black;
    border: 1px solid v.$kihoot_gold;
    color: white;
}

%bg-white-color-black {
    background-color: white;
    color: black;
}

%white-bg-general-button {
    @extend %bg-white-color-black;
    border: 1px solid black;
}

%white-bg-general-button-red-corner {
    @extend %bg-white-color-black;
    border: 1px solid v.$kihoot_red;
}

%white-bg-general-button-green-corner {
    @extend %bg-white-color-black;
    border: 1px solid v.$kihoot_green;
}

%red-button {
    @extend %white-bg-general-button-red-corner, %basic-button-sizing;
    justify-content: center;
}

%green-button {
    @extend %white-bg-general-button-green-corner, %basic-button-sizing;
    justify-content: center;
}

%golden-filigree {
    background: linear-gradient(to bottom, #cfc09f, #634f2c, #ffecb3);
    //--size: 50px;
    //--m: 0.5;
    /* Curvature */
    //--p: calc(var(--m) * var(--size));
    //--R: calc(var(--size) * sqrt(var(--m) * var(--m) + 1));

    -webkit-mask: radial-gradient(var(--R) at 50% calc(var(--size) + var(--p)), #000 99%, transparent 101%) calc(50% - 2*var(--size)) 0 / calc(4 * var(--size)) 100%, radial-gradient(var(--R) at 50% calc(-1*var(--p)), transparent 99%, #000 101%) 50% var(--size) / calc(4 * var(--size)) 100% repeat-x;
    mask: radial-gradient(var(--R) at 50% calc(var(--size) + var(--p)), #000 99%, transparent 101%) calc(50% - 2*var(--size)) 0 / calc(4 * var(--size)) 100%, radial-gradient(var(--R) at 50% calc(-1*var(--p)), transparent 99%, #000 101%) 50% var(--size) / calc(4 * var(--size)) 100% repeat-x;
}

.regular-iconed {
    @extend %general-button, %basic-button-sizing, %golden-filigree;
    border-radius: 1em;

    .contents-menu-button {
        @include m.center-and-vertical();
        width: 10em;
        height: 10em;
        gap: 0.7em;
    }

    .bigger-button {
        width: 22.5em;

        @include m.desktop {
            width: 10em;
        }
    }
}

.regular {
    @extend %general-button, %basic-button-sizing, %black-bg-general-button;
}

.regular:hover {
    color: v.$kihoot_gold;
}

.home {
    @extend %general-button, %basic-button-sizing, %iconed-button, %black-bg-general-button;
    color: v.$kihoot_gold;
    @include m.margin-top-bottom(2em, 2em);
    
    &--back-button {
        color: white;
    }
}

.home:hover,
.regular-iconed:hover {
    border: 2px solid v.$kihoot_gold;
}

.quiz {
    @extend %white-bg-general-button, %basic-button-sizing;
    justify-content: center;
    @include m.width-height(7rem, auto);
}

.kyu {
    @extend %white-bg-general-button, %basic-button-sizing;
    gap: 1em;
    @include m.width-height(7rem, auto);
}

.save {
    @extend %white-bg-general-button, %general-button, %basic-button-sizing;
}

.kyu:hover,
.quiz:hover,
.save:hover {
    border: 2px solid black;
}

.red-corner {
    @extend %red-button;
    @include m.width-height(10rem, auto);
}

.red-corner-flex {
    @extend %red-button;
    @include m.width-height(fit-content, auto);
}

.red-corner-icon {
    @extend %general-button, %red-button;
    color: v.$kihoot_red;
}

.red-corner:hover,
.red-corner-icon:hover,
.red-corner-flex:hover {
    border: 2px solid v.$kihoot_red;
}

.green-corner {
    @extend %green-button;
    @include m.width-height(10rem, auto);
}

.green-corner:hover {
    border: 2px solid v.$kihoot_green;
}