@use '../utils/mixins' as m;
@use '../utils/variables' as v;

//navbar
nav.main-navigation {
    z-index: 1;
    @include m.center-and-vertical();
    row-gap: 1em;
    margin-bottom: 5em;

    @include m.desktop {
        @include m.grid-distribution(1);
        place-items: center;
        width: 100%;
        @include m.padding-left-right(30%, 30%);
    }

    .main-navigation-section {
        gap: 1em;

        .section-2-buttons {
            display: flex;
            gap: 1em;
            padding-bottom: 1em;
            flex-direction: row;

            @include m.desktop {
                padding-bottom: 0;
            }
        }

        .single-long-button {

            @include m.mobile {
                width: 18em;
                @include m.center-object();
            }

            @include m.tablet {
                width: 100%;
            }
        }

        @include m.desktop {
            display: flex;
        }
    }

    //resources-navbar
    .resources-navigation-section {

        .section-2-resources {
            @include m.grid-distribution(2);
            place-items: center;
            width: 100%;
            gap: 1em;
        }
    }
}

.resources-navigation {
    gap: 1em;
    
    @include m.mobile {
        @include m.center-and-vertical();   
    }

    @include m.desktop {
        @include m.grid-distribution(2);
        place-items: center;
        width: 100%;
        @include m.padding-left-right(35%, 35%);
    }
}