@use '../utils/mixins' as m;
@use '../utils/variables' as v;

nav.iconed-navigation {
    position: relative;
    z-index: 1;

    ul {
        gap: 0.5em;
        @include m.center-and-vertical();
    }
}