@use '../utils/mixins' as m;
@use '../utils/variables' as v;

nav.iconed-navigation {
    position: relative;
    z-index: 3;

    ul {
        display: flex;
        list-style-type: none;
        gap: 0.5em;
        flex-direction: column;
        @include m.padding-margin(0, 0);
        @include m.center-object();
    }
}