@use '../utils/mixins' as m;
@use '../utils/variables' as v;


//flashcards
.flashcard-container {
    @include m.center-object();

    @include m.mobile {
        margin-top: 20%;
    }

    @include m.tablet {
        margin-top: 10%;
    }

    @include m.desktop {
        margin-top: 5%;
    }
}

.flashcard-inner-container {
    background-color: white;
    z-index: 1;
    @include m.center-object();
    border-radius: 0.5em;
    @include m.width-height(fit-content, auto);
    @include m.padding-left-right(3em, 3em);
    @include m.padding-top-bottom(1em, 2em);

    &--question {
        border: 1px solid v.$kihoot_red;
    }

    &--answer {
        border: 1px solid v.$kihoot_green;
    }
}


//setupflashcards
.kanku-bg-mod {
    margin-top: 20%;
    @include m.width-height(100%, 40vh);
    position: relative;
    z-index: 0;

    @include m.mobile {
        @include m.padding-top-bottom(0, 0);
        @include m.margin-top-bottom(10%, 10%);
    }

    @include m.desktop {
        @include m.margin-top-bottom(5%, 5%);
        @include m.width-height(100%, 45vh);
    }
}