@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.kihoot-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Yuji Boku", serif;
    font-weight: 400;
    color: black;
    z-index: 3;
    margin: 0;
    pointer-events: none;
}

.App.gradient {
    background: linear-gradient(to bottom, white 45%, v.$kihoot_gold 200%);
    min-height: 100vh;
}

.header-position {
    padding-top: 10em;
}