@use '../utils/mixins' as m;

.email {
    text-align: left;
    @include m.padding-top-bottom(2em, 2em);

    @include m.mobile {
        @include m.padding-left-right(2em, 2em);
    }

    @include m.tablet {
        @include m.padding-left-right(5em, 5em);
    }

    @include m.desktop {
        @include m.padding-left-right(20%, 20%);
    }
}

.resources-navigation {
    gap: 1em;
    
    @include m.mobile {
        @include m.center-and-vertical();   
    }

    @include m.tablet {
        @include m.grid-distribution(2);
        place-items: center;
        width: 100%;
        @include m.padding-left-right(35%, 35%);
    }
}