@use '../utils/mixins' as m;
@use '../utils/variables' as v;

//quiz
.score-ingame-container {
    @include m.grid-distribution(3);
}

.game-titles {
    color: black;
}

.game-titles--correct {
    color: v.$kihoot_green;
}

.game-titles--incorrect {
    color: v.$kihoot_red;
}

.progress-bar {
    @include m.padding-left-right(10%, 10%);
    @include m.padding-top-bottom(2em, 2em);
}

.quiz-image {
    border: 1px solid v.$kihoot_red;
    border-radius: 0.5em;

    @include m.mobile {
        @include m.width-height(40%, auto);
    }

    @include m.tablet {
        @include m.width-height(30%, auto);
    }

    @include m.desktop {
        @include m.width-height(20%, auto);
    }
}

.quiz-questions-main-container {
    @include m.padding-top-bottom(1em, 1em);
}

.quiz-questions-buttons-container {
    @include m.center-and-vertical();
    row-gap: 1em;
    @include m.padding-top-bottom(1em, 1em);

    @include m.tablet {
        @include m.grid-distribution(2);
        gap: 1em;
        @include m.padding-left-right(40%, 40%);
    }
}

.write-quiz-answer-container {
    @include m.center-and-vertical();
    gap: 1em;
    width: 100%;
    @include m.padding-left-right(35%, 35%);
}

//setupquiz
.main-quizsetup-container {
    @include m.center-and-vertical();

    @include m.desktop {
        @include m.grid-distribution(3);
        grid-auto-rows: 1fr;
        gap: 5em;
        @include m.padding-left-right(30%, 30%);
    }

    .grouping-sections-container {
        @include m.center-and-vertical();

        .quiz-buttons-container {
            @include m.center-and-vertical();
            z-index: 1;
        }
    }
}

.double-grid-container {
    @include m.grid-distribution(2);
    gap: 1em;
    @include m.padding-left-right(30%, 30%);
}

h3.quiz-header {
    @include m.padding-top-bottom(1em, 1em);
}

.startgame-container {
    @include m.center-object();
}

//results
.results-container {
    row-gap: 5em;
    @include m.grid-distribution(1);
    @include m.padding-top-bottom(30%, 30%);

    @include m.tablet {
        @include m.padding-top-bottom(10%, 10%);
    }
}

.kanku-bg {
    @include m.kanku();
}