@use '../utils/mixins' as m;
@use '../utils/variables' as v;


//routines
ul.reps-series-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 2em;
    list-style-type: disc;
    list-style-position: outside;
    @include m.padding-top-bottom(1em, 1em);
}

li.reps-series-elem,
li.link-container {
    margin-bottom: 0.5em;
    width: 100%;
}

li.link-container {
    a {
        word-break: break-all;
        overflow-wrap: break-word;
    }
}

.exercice-card-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;

    @include m.mobile {
        width: fit-content;
        gap: 2em;
    }
}

.desc-exercice-container-editable {
    @include m.center-and-vertical();
    gap: 1em;
    @include m.padding-top-bottom(2em, 2em);
}

.edit-and-delete-container {
    gap: 1em;
    display: flex;
    flex-direction: column;
}


//createroutine
.exercices-main-container {
    @include m.center-and-vertical();

    &--spaced {
        margin-top: 2em;
    }
}

.exercices-count-container {
    margin-top: 1em;
}

.single-exercices-container {
    @include m.grid-distribution(2);
    padding-bottom: 0.5em;
}

.exercice-name {
    @include m.center-object();
}