@use '../utils/mixins' as m;

ul.reps-series-container {
    display: block;
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    @include m.margin-top-bottom(1em, 1em);
    margin-left: 2em;

    li.reps-series-elem {
        float: left;
    }
}

.exercice-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m.mobile {
        width: fit-content;
        gap: 2em;
    }
}

.desc-exercice-container-editable {
    @include m.center-object();
    gap: 1em;
    @include m.padding-top-bottom(2em, 2em);
}

.edit-and-delete-container {
    gap: 1em;
    display: flex;
    flex-direction: column;
}