@use '../utils/mixins' as m;
@use '../utils/variables' as v;

.kanku-bg-mod {
    margin-top: 20%;
    @include m.width-height(100%, 40vh);
    position: relative;
    z-index: 0;

    @include m.mobile {
        @include m.padding-top-bottom(0, 0);
        @include m.margin-top-bottom(10%, 10%);
    }

    @include m.desktop {
        @include m.margin-top-bottom(5%, 5%);
        @include m.width-height(100%, 45vh);
    }
}