@use '../utils/mixins' as m;

.main-quizsetup-container {
    @include m.center-and-vertical();

    @include m.desktop {
        @include m.grid-distribution(3);
        grid-auto-rows: 1fr;
        gap: 5em;
        @include m.padding-left-right(30%, 30%);
    }

    .grouping-sections-container {
        @include m.center-and-vertical();

        .quiz-buttons-container {
            @include m.center-and-vertical();
            z-index: 1;
        }
    }
}

.double-grid-container {
    @include m.grid-distribution(2);
    gap: 1em;
    @include m.padding-left-right(30%, 30%);
}

h3.quiz-header {
    @include m.padding-top-bottom(1em, 1em);
}

.startgame-container {
    @include m.center-object();
}