@use '../utils/mixins' as m;
@use '../utils/variables' as v;

//technique
.main-comment-container {
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    gap: 1em;
}

.technique-container {

    @include m.mobile {
        width: 110%;
    }

    @include m.tablet {
        width: 80%;
    }

    @include m.desktop {
        width: 60%;
    }
    
}

//comments
.main-public-comments-container {
    margin-top: 2em;
    @include m.center-and-vertical();
}

.comments-section-main-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid v.$kihoot_grey;
    border-radius: 0.5em;
    padding: 1em;
    width: fit-content;
    gap: 1em;
    @include m.margin-top-bottom(1em, 1em);
    background-color: white;

    @include m.mobile {
        max-width: 30em;
    }

    @include m.tablet {
        max-width: 80%;
    }
}

.comments-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    word-break: break-all;
    overflow-wrap: break-word;
}

.single-comment {
    max-width: fit-content;
    float: left;
    white-space: pre-wrap;
    width: fit-content;
    text-align: left;
}

//createtechnique
.video-positioning {
    @include m.padding-top-bottom(0, 2em);
}

.video-spacing {
    @include m.margin-top-bottom(2em, 0);
    @include m.margin-left-right(20%, 20%);
}