@use '../utils/mixins' as m;
@use '../utils/variables' as v;

.main-comment-container {
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    gap: 1em;
}

.technique-container {
    width: 60%;
}

.main-public-comments-container {
    margin-top: 2em;
    @include m.center-and-vertical();
}

.comments-section-main-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid v.$kihoot_grey;
    border-radius: 0.5em;
    width: fit-content;
    padding: 1em;
    gap: 1em;
    @include m.margin-top-bottom(1em, 1em);
}

.comments-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.single-comment {
    max-width: fit-content;
    float: left;
    white-space: pre-wrap;
    width: fit-content;
    text-align: left;
}