@use '../utils/mixins' as m;

body {
    display: flex;
    flex-direction: column;
    @include m.width-height(100%, 100vh);
    @include m.padding-top-bottom(1em, 1em);
}

a,
a.regular-button-link {
    @include m.width-height(100%, auto);
}

a:link,
a:visited {
    color: black;
    text-decoration: none;
}

a.regular-button-link:link,
a.regular-button-link:visited {
    color: white;
    text-decoration: none;
}