@use '../utils/variables' as v;
@use "sass:color";

@mixin mobile {
    @media (min-width: v.$phone) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin center-object() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin margin-left-right($left, $right) {
    margin-left: $left;
    margin-right: $right;
}

@mixin margin-top-bottom($top, $bot) {
    margin-top: $top;
    margin-bottom: $bot;
}

@mixin padding-top-bottom($top, $bot) {
    padding-top: $top;
    padding-bottom: $bot;
}

@mixin padding-left-right($left, $right) {
    padding-left: $left;
    padding-right: $right;
}

@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}

@mixin padding-margin($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

@mixin center-and-vertical() {
    @include center-object();
    flex-direction: column;
}

@mixin grid-distribution($cols) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
}

@mixin dragon {
    height: max-content;
    position: relative;
    z-index: 0;
    @include padding-top-bottom(10%, 10%);

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url('../../images/dragon.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        opacity: 0.1;
        z-index: 0;
    }

    @include mobile {
        &::before {
            background-size: cover;
        }
    }

    @include tablet {
        &::before {
            background-size: contain;
        }
    }

    @include desktop {

        @include margin-left-right(20%, 20%);

        &::before {
            background-image: url('../../images/dragon.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left;
            z-index: 0;
            width: 50%;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 50%;
            background-image: url('../../images/dragon.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            transform: rotate(180deg);
            z-index: 0;
            opacity: 0.1;
        }
    }
}

@mixin bridge {
    position: relative;
    z-index: 0;

    @include mobile {
        @include padding-top-bottom(10%, 10%);
        @include margin-top-bottom(20%, 20%);
        @include width-height(100%, 35vh);
    }

    @include tablet {
        @include margin-top-bottom(15%, 15%);
    }

    @include desktop {
        @include width-height(100%, 20vh);
        @include margin-top-bottom(10%, 10%);
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url('../../images/bridge.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.1;
        z-index: 0;
    }
}

@mixin osu {
    position: relative;
    z-index: 0;

    @include mobile {
        @include padding-top-bottom(10%, 10%);
        @include margin-top-bottom(10%, 10%);
        @include width-height(100%, 55vh);
    }

    @include tablet {
        @include margin-top-bottom(5%, 5%);
    }

    @include desktop {
        @include width-height(100%, 50vh);
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url('../../images/OSU.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.1;
        z-index: 0;
    }
}

@mixin kanku {
    @include width-height(100%, 40vh);
    position: relative;
    z-index: 0;
    @include margin-top-bottom(10%, 10%);

    @include mobile {
        @include padding-top-bottom(10%, 30%);
    }

    @include tablet {
        @include width-height(100%, 40vh);
    }

    @include desktop {
        @include padding-top-bottom(10%, 20%);
        @include width-height(100%, 30vh);
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url('../../images/simbol-kanku.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.1;
        z-index: 0;
    }
}

@mixin kanji-kyoku {
    @include width-height(100%, 30vh);
    position: relative;
    z-index: 0;
    @include margin-top-bottom(1em, 3em);

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url('../../images/kanji-kyoku.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
        opacity: 0.1;
        z-index: 0;
    }
}

@mixin mawashi {
    @include width-height(100%, 40vh);
    position: relative;
    z-index: 0;

    @include mobile {
        @include padding-top-bottom(20%, 30%);
        @include margin-top-bottom(10%, 10%);
    }

    @include tablet {
        @include width-height(100%, 40vh);
        @include margin-top-bottom(0, 0);
    }

    @include desktop {
        @include padding-top-bottom(20%, 15%);
        @include width-height(100%, 30vh);
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url('../../images/mawashi.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.1;
        z-index: 0;
    }
}

@mixin tsuki {
    position: relative;
    z-index: 0;

    @include mobile {
        @include padding-top-bottom(20%, 30%);
        @include margin-top-bottom(10%, 10%);
        @include width-height(100%, 10vh);
    }

    @include tablet {
        @include padding-top-bottom(20%, 20%);
    }

    @include desktop {
        @include padding-top-bottom(10%, 10%);
        @include margin-top-bottom(5%, 5%);
        @include width-height(100%, 20vh);
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url('../../images/punch.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.1;
        z-index: 0;
    }
}