.App {
  text-align: center;
}

.quiz-container {
  background-color: lightgrey;
}

.correct-answer {
  color: lightgreen;
}

.incorrect-answer {
  color: lightcoral;
}

.result-display {
  color: darkcyan;
  padding-top: 2em;
}