* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 1em;
    line-height: 1.5em;
}

body {
    font-family: 'Roboto';
    background-color: white;
    color: black;
}